<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
    <h1>Will be back</h1>
    <p>Currently the site is under maintanance. Please check back soon</p>

    {{> footer}}
</body>
</html>