<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
    <h1>Projects</h1>
    <p><a href="/">Home</a></p>
    <p><a href="{{githubproject}}">GitHub</a></p>
    <p><a href="{{gitlabprojects}}">Gitlab</a></p>
    {{> footer}}
</body>
</html>